S3method("[",m61r)
S3method("[<-",m61r)
S3method(as.data.frame,m61r)
S3method(dim,m61r)
S3method(names,m61r)
S3method(print,m61r)
S3method(cbind,m61r)
S3method(rbind,m61r)
export("modify_<-")
export(anti_join_)
export(arrange_)
export(desange_)
export(expression_)
export(filter_)
export(full_join_)
export(gather_)
export(group_by_)
export(inner_join_)
export(left_join_)
export(mutate_)
export(m61r)
export(right_join_)
export(select_)
export(semi_join_)
export(spread_)
export(summarise_)
export(transmutate_)
export(value_)
export("left_join")
export("anti_join")
export("full_join")
export("inner_join")
export("right_join")
export("semi_join")
